$font-family: "Oswald", sans-serif;
$second-family: "Lato", sans-serif;

$mobile-width: 280px;
$tablet-width: 708px;
$desktop-width: 1220px;
$mobile-width-only: 707px;

$basic-wdhite: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey-2: #ebebeb; //special-grey-2
$basic-grey-3: #cdcdcd; // special-grey
$special-grey-3: #666666; // special-grey-2
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$status-error: #ff8282;

$text-color-accent: #ffffff;
$text-color-basic: #000000;
$text-color-basic-2: #444444; // special-dark-grey
$text-color-secondary: #f2f2f2; //basic-grey

$bg-color-base: #f2f2f2;
$bg-color-base-2: #eaeaea;
$bg-color-special: #68b738; // basic-green
$bg-color-special-2: #5eaa2f; //basic-green-2
$bg-color-special-3:  rgba(104, 183, 56, 0.85);
$bg-color-accent: #ffffff;

$border-color-base: #e6e6e6;
$border-color-base-2: #cdcdcd;
