
.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.main-nav__top {
  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    padding-bottom: 14px;
  }
}

.main-nav__logo {
  flex-shrink: 0;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    flex-shrink: 0;

    display: none;
  }
}

.main-nav__site-nav {
  flex-shrink: 0;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: 475px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 575px;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__site-nav {
  @media (max-width: $mobile-width-only) {
    position: static;
    display: flex;
  }
}

