.product-empty {
  display: grid;
  padding-top: 25px;
  padding-bottom: 24px;

  &::before {
    justify-self: center;

    content: "";

    width: 30px;
    height: 30px;
    margin-bottom: 23px;

    background-image: url("./../../icons/icon-plus.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    grid-row: span 4;
    justify-items: center;

    margin-top: 82px;
    padding: 50px 37px 40px;

    outline: 2px solid $border-color-base-light;
    outline-offset: 2px;

    &::before {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }
  }
}

.product-empty__title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-basic-3;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 120%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.product-empty__description {
  margin: 0;

  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: $text-color-basic-2;

  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 16px;
    line-height: 113%;
  }
}

.product-empty__button {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    justify-self: stretch;
    margin-top: 81px;
  }
}
